.result-page {
    text-align: center;
    padding: 40px;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  h2 {
    color: white; /* Change the text color of the header to white */
  }
  h3 {
    color: white; /* Change the text color of the header to white */
  }
  
  .tabs button:hover {
    background-color: #45a049;
  }
  
  .tab-content {
    margin-top: 20px;
  }
  